@model BookApp.Models.Book

@{
    ViewData["Title"] = "Radera";
    
    // Variabel för att hantera om det finns en författare eller inte
    string authorName = Model.Author != null ? Model.Author.Name : "Ingen författare";
}

<h2>Radera</h2>
<h3>Bok</h3>
<hr />
<div>
    <h4 class="mb-4">Är du säker på att du vill ta bort denna bok?</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
                @authorName
        </dd>
    </dl>
    
    <form asp-action="Delete" class="mt-4">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Tillbaka till lista</a>
    </form>
</div>
