@model BookApp.Models.Book

@{
    ViewData["Title"] = "Detaljer";

    // Variabel för att hantera om det finns en författare eller inte
    string authorName = Model.Author != null ? Model.Author.Name : "Ingen författare";
}

<h2>Detaljer</h2>

<div>
    <h3>Bok</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @authorName
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Ändra</a> |
    <a asp-action="Index" class="btn btn-secondary">Tillbaka till lista</a>
</div>
