@model IEnumerable<BookApp.Models.Book>

@{
    ViewData["Title"] = "Böcker";
}

<h2>Böcker</h2>

<p>
    <a asp-action="Create" class="btn btn-primary mt-3 mb-3">Lägg till ny bok</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationYear)
            </td>
            <td>
                <!-- Kontrollerar om det finns en författare eller inte -->
                @(item.Author != null ? item.Author.Name : "Ingen författare")
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Ändra</a> |
                <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
