@model BookApp.Models.Loan

@{
    ViewData["Title"] = "Detaljer";

    // Variabel för att hantera om det finns en boktitel eller inte
    string bookTitle = Model.Book != null ? Model.Book.Title : "Ingen bok";

    // Variabel för att hantera om det finns en e-postadress eller inte
    string userEmail = Model.User != null ? Model.User.Email : "Ingen användare";

}

<h2>Detaljer</h2>

<div>
    <h3 class="mt-3">Boklån</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @bookTitle
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @userEmail
        </dd>
    </dl>
</div>
<div class="mb-4 mt-4">
    <a asp-action="Edit" class="mybtn max-w-btn btn btn-warning" asp-route-id="@Model?.Id"><i class="bi bi-pencil-square"></i> Ändra boklån</a>
</div>
<div>
    <a asp-action="Index" class="mybtn max-w-btn btn btn-secondary"><i class="bi bi-arrow-left"></i> Tillbaka till lista</a>
</div>